@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$headerBackground: #3D7A99;
$sR: #418a95;
$sRLight: #418a95 + #222;
$sRDark: #418a95 - #222;
$darkGrey:#6b6b6b;
$offWhite:#f6f3f7;
$bg:#f6f3f7 - #111;
$darkBg:#f6f3f7 - #222;


*{  
  margin:0;
  padding:0;
  font-family:Lato;
}

body{
	font-family: 'Josefin Sans', sans-serif;
	background-color: #FFFF99;
	color: black;
	padding:0px;
  	background:$bg;
}
.navbar{
	background-color: $headerBackground;
	height: 7em;
}

.navbar-header{
	padding: 1.5em 1.5em 1.5em 1.5em; 
		
}

.navbar-brand {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 200%;
}
.navbar-default .navbar-brand {
    color: black;
}

/**** TABLE ****/

.flatTable{  
  width:100%;
  min-width:500px;
  border-collapse:collapse;  
  font-weight:bold;
  color:$darkGrey;
  
	tr{
	  height:50px;
	  background:$darkBg;
	  border-bottom:rgba(0,0,0,.05) 1px solid;
	}
	  
	td{    
	  box-sizing:border-box;
	  padding-left:30px;   
	}

	.titleTr{
	  height:70px;  
	  color:#f6f3f7; 
	  background:$sR;  
	  border:0px solid;
	}

	.headingTr{
	  height:30px;
	  background:$sRLight;
	  color:$offWhite; 
	  font-size:8pt;
	  border:0px solid;
	}  
}